<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!----===== Boxicons CSS ===== -->
    <div th:fragment="css_link">
        <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    </div>
    <div th:fragment="css">
        <link rel="stylesheet" type="text/css" href="/user/userHomeCss.css"/>
    </div>
    <title>Online Crime Reporting System</title>
</head>
<body>
<div th:fragment="admin_navbar">
    <nav class="fixed-leaft sidebar close">
        <header>
            <!--<div class="image-text">
                <span class="image">
                    <img src="image/user_logo.png" alt="">
                </span>
            </div>
              <div class="text logo-text">
                    <span class="name">User</span>
                </div>  -->
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/complain}">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">Add Complain</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a th:href="@{/complain/complainList/0}">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Show Complain</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">About</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="bottom-content">
                <li class=""sec:authorize="isAuthenticated()">
                    <a th:href="@{~/logout}">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>
    <script src="/user/userHomejs.js"></script>
</div>
</body>

</html>