<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymelef.org"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Online Crime Reporting System</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center ">
<div class="text-center">
    <h1 class="font-weight-bold">Online Crime Reporting Management System</h1>
    <p>
        the crime reporting system is the solution for all the victims and for the crime department.
    </p>
    <button class="btn bg-primary btn-lg text-white">Get Start</button>
</div>
</section>
</body>
</html>