body {
    background-color: #e2e2e2!important;
}
.bg-primary {
    background: #009688 !important;
}

/*home page*/
.banner{
    width: 100%;
    height: 93vh;
    background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url("../image/back.jpg");
    background-size: cover;
    color: white;
}

/*login page*/
 body {
     margin: 0;
     padding: 0;
     font-family: arial;
 }
.loginform {
    margin-top: 25px;
    background: #ffffff;
    width: 450px;
    color: #4caf50;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 10px 29px 0px #e0e0e0;
}

.loginform p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginform h2 {
    font-size: 30px;
    margin: 30px 0px;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.loginform input {
    width: 100%;
    margin-bottom: 30px;
}

.loginform input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid #1e5220;
    background: transparent;
    outline: none;
    height: 40px;
    color: #333;
    font-size: 16px;
}

.loginform input[type="submit"] {
    background: #4CAF50;
    color: #fff;
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 20px;
    transition: 0.4s;
    border: none;
}

.loginform input[type="submit"]:hover {
    cursor: pointer;
    background: #1f5822;
}

.loginform a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: #1e5220;
}

.loginform .have-not {
    float: right;
}

.loginform a:hover {
    color: #4caf50;
}
/*-- Responsive CSS --*/

@media(max-width: 576px) {
    .loginform {
        width: 90%;
    }
    .loginform a {
        display: block;
        text-align: center;
        float: inherit !important;
        margin: 10px 0px;
    }
}
.card {
    margin-left: 20%;
    margin-right: 20%;
}


